In [70]:
import os
import json
import pandas as pd

main_folder_path = '데이터/1.Training/라벨링데이터/TL1'

original = []
summary = []
    
for root, dirs, files in os.walk(main_folder_path): #하위폴더들을 모두 탐색하는 walk
    if root.endswith('20per') :
        for file in files:
            if file.endswith('.json'): 
                file_path = os.path.join(root, file)
                with open(file_path, 'r', encoding = 'utf-8') as json_file:
                    json_data = json.load(json_file)
                    original.append(json_data["Meta(Refine)"]["passage"])
                    if json_data['Annotation']['summary3'] is not None:
                        summary.append(json_data['Annotation']['summary3'])
                

                
df = pd.DataFrame({'original' : original, 'summary' : summary})

In [73]:
df.isnull().sum(axis=0) #null값 없음

original    0
summary     0
dtype: int64

In [81]:
df = df.drop_duplicates(subset = ['original','summary']) #중복값 제거
df.describe()

,original,summary
count,72571,72571
unique,72571,72571
top,40억 달러 ‘딜’ 주인공 김봉진 우아한형제들 대표태풍 뒤의 고요함이랄까.\n 4...,독일계 음식 배달서비스업체 DH(딜리버리 히어로)가 평가한 우아한형제들의 기업가치는...
freq,1,1

In [84]:
import re

def preprocess_text(text):
    text = re.sub('\n',' ',text)
    text = re.sub(r'\s+', ' ', text)
    return text

df['original'] = df['original'].apply(preprocess_text)
df.to_csv('train.tsv',encoding = 'utf-8',index = False, sep = '\t', errors='ignore')